.App footer{
    text-align: center;
    font-size: 10px;
    padding-top: 0;
  }

  .box {
    margin: 80px auto;
    padding: 40px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 30%);
    width: 580px;
  }
