.Weather .submit{
    background-color: #24527a;
    color: white;
    padding: 6px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 30%);
    transition: all 200ms ease-in-out;
}

.Weather .submit:hover
{
  background-color: #2c6495;
}

.Weather li{
    font-size: 16px;
    list-style-type: none;
    padding-left: 5px;
    margin: 0;
  }

.Weather ul {
  padding-left: 15px;
  padding-top: 30px;
}

hr{
  border: solid 1px #34699a;
  margin-bottom: 30px;
}

.Weather .unitTemp{
    font-size: 20px;
    vertical-align: top;
    display: inline-block;
    margin-top: 20px;
  }

  .Weather .temp-heading{
    font-weight: bold;
    font-size: 70px;
    padding: 0 0 15px 0;
    margin-bottom: 50px;
  }

 .Weather .second-list{
   padding-left: 35px;
 }

